page-home {
div.scroll-content{
    background: linear-gradient(rgba(255, 2, 137, 0.582),black);
    ion-header{
        border: none;
        background-color: transparent;
    }
    h1{
        text-align: center;
        color: white;
        font-family: serif;
        font-style: italic;
        font-size: 400%;
    }
    div.home{
        margin: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        h5{
            text-align: center;
            color: white;
            font-stretch: semi-condensed;
            font-weight: lighter;
            b{
                font-family: sans-serif;
                font-weight: normal;
             
                font-size: 50%;
            }
        }
        button.btn1{
            color: deeppink;
            font-weight: bolder;
            width: 100%;
        }
        button.btn2{
            border-bottom: 2px solid;
            border-top: 2px solid;
            font-size: 70%;
            width: 100%;
        }
    }
}

}
